* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height : 98vh;
    background: #f0f2f5;
    color: #333;
}

header {
    background: #1e3a8a;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.form {
    background: white;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


label {
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.form-button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 1rem;
}

.form-button:hover {
    background: #1565c0;
}

a {
    color: #1e3a8a;
    text-decoration: underline;
    word-break: break-all;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 1rem;
}